name: Escaneo Alternativo (Trivy)

on:
  workflow_dispatch:

jobs:
  trivy-security:
    name: Trivy Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'           
          scan-ref: '.'             
          format: 'table'           
          output: 'trivy-report.txt' 
          exit-code: '0'

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: reporte-trivy
          path: trivy-report.txt